h1 {
	font-style: Georgia, serif;
	text-align:center;
}
#movie_quotes{
	text-align: center;
	font-style: Georgia, serif;
	height:20px;
	width:400px;
	display:block;
	margin:0 auto;
}
#classic_video{
	width:65%;
	height:50%;
	display: block;
	margin: 0 auto;
	border-style:dashed;
}
body {
	background-color: gray;
}